<!--<div class="footer-section">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse ">
                <form class="navbar-form navbar-right">
                    <span>SUBSCRIBE TO OUR NEWSLETTER AND STAY TUNED</span>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email address">
                        <button type="submit" class="btn btn-default">Subscribe</button>
                    </div>

                </form>
            </div>
        </div>
    </nav>
</div>


<div innerHtml={{footerContent}}></div>

<div innerHtml={{footerContent}}></div>-->
<!-- *** FOOTER ***
 _________________________________________________________ -->

<div class="clearfix"></div>
<div id="footer" innerHtml={{footerContent}}></div>


<!--<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Pages</h4>
                <ul>
                    <li><a href="javascript:void(0);">About us</a>
                    </li>
                    <li><a href="javascript:void(0);">Terms and conditions</a>
                    </li>
                    <li><a href="javascript:void(0);">FAQ</a>
                    </li>
                    <li><a href="javascript:void(0);">Contact us</a>
                    </li>
                </ul>
                <hr>
                <h4>User section</h4>
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li><a routerLink="/account">Account</a>
                    </li>
                    <li><a routerLink="/register">Register</a>
                    </li>                   
                </ul>
                <hr class="hidden-md hidden-lg hidden-sm">
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>Top categories</h4>
                <h5>Men</h5>
                <ul>
                    <li><a href="javascript:void(0);">T-shirts</a>
                    </li>
                    <li><a href="javascript:void(0);">Shirts</a>
                    </li>
                    <li><a href="javascript:void(0);">Accessories</a>
                    </li>
                </ul>
                <h5>Ladies</h5>
                <ul>
                    <li><a href="javascript:void(0);">T-shirts</a>
                    </li>
                    <li><a href="javascript:void(0);">Skirts</a>
                    </li>
                    <li><a href="javascript:void(0);">Pants</a>
                    </li>
                    <li><a href="javascript:void(0);">Accessories</a>
                    </li>
                </ul>
                <hr class="hidden-md hidden-lg">
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>Where to find us</h4>
                <p><strong>Sapient Cons.</strong>
                    <br>2nd Building,BCBP
                    <br>Bangalore
                    <br>560017
                    <br>Karnataka
                    <br>
                    <strong>India</strong>
                </p>
                <a href="contact.html">Go to contact page</a>
                <hr class="hidden-md hidden-lg">
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Get the news</h4>
                <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Subscribe!</button>
                        </span>
                    </div>
                </form>
                <hr>
                <h4>Stay in touch</h4>
                <p class="social">
                    <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>-->
<!-- /#footer -->

<!-- *** FOOTER END *** -->




<!-- *** COPYRIGHT ***
 _________________________________________________________ -->
<!--<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2017, Sapient Corporation, All rights reserved</p>

        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a href="#">Franchisee </a> | <a target="_blank" href="http://www.webenlance.com">Sapient Magento SCG</a>
            </div>
        </div>
    </div>
</div>-->
<!-- *** COPYRIGHT END *** -->