<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div *ngFor="let img of content.images; let i=index" [ngClass]="[i == 0 ? 'item active': 'item']" style="min-height: 488px;" >
                <img [src]="img" alt="">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div innerHtml={{content.content}}></div>-->



<div class="container">
    <div class="col-md-12">
        <div id="main-slider">
            <div class="item" *ngFor="let img of content.images; let i=index">
                <img class="img-responsive" [src]="img" alt="">
            </div>
        </div>
        <!-- /#main-slider -->
    </div>
</div>

<!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
<div id="advantages">
    <div innerHtml={{content.content}}></div>
    <!--<div class="container">
        <div class="same-height-row">
            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-heart"></i>
                    </div>

                    <h3><a href="#">We love our customers</a></h3>
                    <p>We are known to provide best possible service ever</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-tags"></i>
                    </div>

                    <h3><a href="#">Best prices</a></h3>
                    <p>We are known to provide best possible service ever</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-thumbs-up"></i>
                    </div>

                    <h3><a href="#">100% satisfaction guaranteed</a></h3>
                    <p>Free returns on everything for 3 months.</p>
                </div>
            </div>
        </div>

    </div>-->
    <!-- /.container -->

</div>
<!-- /#advantages -->

<!-- *** ADVANTAGES END *** -->

<!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
<div id="hot">

    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Hot this week</h2>
            </div>
        </div>
    </div>

    <div class="container" ng-if="content.featured">
        <div class="product-slider">
            <div class="item" *ngFor="let product of content.featured">
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a [routerLink]="'/product/'+product.sku">
                                    <img imagePlaceholder [src]="product.image" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a [routerLink]="'/product/'+product.sku">
                                    <img imagePlaceholder [src]="product.image" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="'/product/'+product.sku" class="invisible">
                        <img imagePlaceholder [src]="product.image" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3><a [routerLink]="'/product/'+product.sku">{{product.name}}</a></h3>
                        <p class="price">
                            <del *ngIf="product.specialPrice">{{product.price | currency:'USD':true}}</del> {{product.finalPrice | currency:'USD':true}}
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        </div>
        <!-- /.product-slider -->
    </div>
    <!-- /.container -->

</div>
<!-- /#hot -->

<!-- *** HOT END *** -->


<!-- *** BLOG HOMEPAGE ***
 _________________________________________________________ -->

<div class="box text-center" data-animate="fadeInUp">
    <div class="container">
        <div class="col-md-12">
            <h3 class="text-uppercase">From our blog</h3>

            <p class="lead">What's new in the world of fashion? <a href="blog.html">Check our blog!</a>
            </p>
        </div>
    </div>
</div>

<div class="container">

    <div class="col-md-12" data-animate="fadeInUp">

        <div id="blog-homepage" class="row">
            <div class="col-sm-6">
                <div class="post">
                    <h4><a href="post.html">Fashion now</a></h4>
                    <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a>
                    </p>
                    <hr>
                    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="post">
                    <h4><a href="post.html">Who is who - example blog post</a></h4>
                    <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a>
                    </p>
                    <hr>
                    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a>
                    </p>
                </div>

            </div>

        </div>
        <!-- /#blog-homepage -->
    </div>
</div>
<!-- /.container -->

<!-- *** BLOG HOMEPAGE END *** -->