    <div class="col-md-9">
        <h2>Orders</h2>
        <div class="inner-table">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Name</th>
                        <th>Order date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#100000012</td>
                        <td>Shekhar Shukla</td>
                        <td>01-01-2017</td>
                        <td><a href="javascript:void(0);" (click)="showOrderDetails(100000012);">Details</a></td>                       
                    </tr>
                    <tr>
                        <td>#100000012</td>
                        <td>Shekhar Shukla</td>
                        <td>01-01-2017</td>
                        <td><a href="javascript:void(0);" (click)="showOrderDetails(100000012);">Details</a></td>                       
                    </tr>
                    <tr>
                        <td>#100000012</td>
                        <td>Shekhar Shukla</td>
                        <td>01-01-2017</td>
                        <td><a href="javascript:void(0);" (click)="showOrderDetails(100000012);">Details</a></td>                       
                    </tr>
                    <tr>
                        <td>#100000012</td>
                        <td>Shekhar Shukla</td>
                        <td>01-01-2017</td>
                        <td><a href="javascript:void(0);" (click)="showOrderDetails(100000012);">Details</a></td>                       
                    </tr>
                    <tr>
                        <td>#100000012</td>
                        <td>Shekhar Shukla</td>
                        <td>01-01-2017</td>
                        <td><a href="javascript:void(0);" (click)="showOrderDetails(100000012);">Details</a></td>                       
                    </tr>
                    <tr>
                        <td>#100000012</td>
                        <td>Shekhar Shukla</td>
                        <td>01-01-2017</td>
                        <td><a href="javascript:void(0);" (click)="showOrderDetails(100000012);">Details</a></td>                       
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>